---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Achievement+14
    headers:
      Authorization:
      - OAuth oauth_consumer_key="lyfhxNihvZD22YOCFhi8MXE5G", oauth_nonce="7499d2705a76b20564937448ba245cf8",
        oauth_signature="EkWK%2BSYD6a7xBdcEBugzygwU7Vw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1588267942", oauth_token="1137069497246990336-Mnw39XvGK4MpdaPBajJq6cBsYDUHQT",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 30 Apr 2020 17:32:22 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 335a93c1901cc03133398ee26679a309
      X-Response-Time:
      - '75'
      X-Transaction:
      - 0041dda700d6273b
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"created_at":"Thu Apr 30 17:32:22 +0000 2020","id":1255912895432589315,"id_str":"1255912895432589315","text":"Achievement
        14","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"https:\/\/example.com\" rel=\"nofollow\"\u003eTest App DAE\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1137069497246990336,"id_str":"1137069497246990336","name":"David
        Auza","screen_name":"davidauzaeng","location":"","description":"Remote Full
        Stack Ruby on Rails Developer","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":137,"friends_count":119,"listed_count":5,"created_at":"Fri
        Jun 07 18:51:08 +0000 2019","favourites_count":10,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":11,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1240728657427083265\/njXL3E9y_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1240728657427083265\/njXL3E9y_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1137069497246990336\/1586380038","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"}'
  recorded_at: Thu, 30 Apr 2020 17:32:22 GMT
recorded_with: VCR 5.1.0
